* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 2em 0em;
  font-size: 2.5em;
}

.container {
  width: 40%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(6, 50px);

  justify-content: center;
  gap: 1.5em 1.5em;
}

div {
  border: 0.2em solid rgb(197, 189, 189);
  display: flex;
  justify-content: center;
  align-items: center;
}
